
// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

//
// Variables
// --------------------------------------------------


// Colors
$gray-900: #a11b27;
$gray-800: #df5193;
$gray-700: #f0569f;
$gray-500: #f566b0;
$gray-300: #f49ac0;
$gray-200: #f4bad6;

$theme-colors: (
	"primary":        	#ffffff,
	"secondary": 		#8deae3,
	"success":         	#b8eaae,
	"info":           	#c1d7ee,
	"warning":         	#fffe84,
	"danger":          	#e1bfda,
	"light":			#56caef,
	"dark":				#a11b27
);

// Options
// Spacing

// Body.
$body-bg:               #fce0ec;
$body-color:            $gray-900;

// Links
$link-color: #51acd0;
$link-hover-color:     #4D92B5;
$link-hover-decoration: underline;

// Components
$component-active-bg:      	#f0569f;

// Fonts
$headings-color:          #f0569f;

// Tables
$table-border-color:            #dddddd;

// Buttons
$btn-font-weight:                normal;
$btn-primary-color:              #333333;
$btn-primary-bg:                 #ffffff;
$btn-primary-border:             #cccccc;
$btn-secondary-color:              #ffffff;
$btn-secondary-bg:                 #f0569f;
$btn-link-disabled-color:        $gray-200;

// Forms
$input-bg: #ff57ab;
$input-bg-disabled:              #ffffff;
$input-color:                    $gray-500;
$input-border:                   $input-color;
$input-focus-border-color:       #66afe9;
$input-color-placeholder:        #999999;

// Dropdowns
$dropdown-bg:                    #ffffff;
$dropdown-border-color:                rgba(0,0,0,.15);
$dropdown-fallback-border:       #cccccc;
$dropdown-divider-bg:            #e5e5e5;
$dropdown-link-color:            $gray-900;
$dropdown-link-hover-color:      darken($gray-900, 5%);
$dropdown-link-hover-bg:         #f5f5f5;
$dropdown-link-disabled-color:   $gray-200;
$dropdown-header-color:          $gray-200;

// Navs
// Navbar
$navbar-light-color:                      #ffffff;
$navbar-light-bg:                         #56caef;

// Navbarlinks
$navbar-light-link-color:                 $navbar-light-color;
$navbar-light-link-hover-color:           darken($navbar-light-color, 10%);
$navbar-light-link-hover-bg:              transparent;
$navbar-light-link-active-color:          $navbar-light-link-hover-color;
$navbar-light-link-active-bg:             darken($navbar-light-bg, 10%);
$navbar-light-link-disabled-color:        #c1d7ee;
$navbar-light-link-disabled-bg:           transparent;

// Inverted navbar brand label
$navbar-light-brand-color:                $navbar-light-link-color;
$navbar-light-brand-hover-color:          #27bbeb;
$navbar-light-brand-hover-bg:             transparent;

// Inverted navbar toggle
$navbar-light-toggle-hover-bg:            #333333;
$navbar-light-toggle-icon-bar-bg:         #ffffff;
$navbar-light-toggle-border-color:        #4ab5dd;

// Pagination
$pagination-color:                     #ffffff;
$pagination-bg:                        #f49ac0;
$pagination-border:                    transparent;
$pagination-hover-color:               $pagination-color;
$pagination-hover-bg:                  #f0569f;
$pagination-hover-border:              #dddddd;
$pagination-active-color:              #f0569f;
$pagination-active-bg:                 #ffffff;
$pagination-active-border:             transparent;
$pagination-disabled-color:            #fafafa;
$pagination-disabled-bg:               #F89EC4;
$pagination-disabled-border:           transparent;


// Jumbotron
$jumbotron-bg:                   #ffd1e7;
$jumbotron-heading-color:        inherit;


//** Background color of the whole progress component
$progress-bg:                 #ffd1e7;
//** Progress bar text color
$progress-bar-color:          #ffffff;

//** Default progress bar color
$progress-bar-bg:             #f0569f;

//== List group
//
$list-group-link-color:         #f0569f;
$list-group-link-hover-color:   $list-group-link-color;
$list-group-link-heading-color: #333333;


// Cards
$card-bg:                    #ffffff;
$card-body-padding:          1rem 15px;
$card-heading-padding:       10/16rem 15px;
$card-footer-padding:        $card-heading-padding;
$card-inner-border:          transparent;
$card-footer-bg:             #f5f5f5;
$card-default-text:          $body-color;
$card-default-border:        transparent;
$card-default-heading-bg:    #f49ac0;

// Tooltips
// Popovers
// Badges
// Modals
// Alerts
// Progress bars
// List group

// Image thumbnails
//** Padding around the thumbnail image
$thumbnail-padding:           4px;
//** Thumbnail background color
$thumbnail-bg:                #fce0ec;
//** Thumbnail border color
$thumbnail-border:            #dddddd;
//** Custom text color for thumbnail captions
$thumbnail-caption-color:     #f0569f;
//** Padding around the thumbnail caption
$thumbnail-caption-padding:   9px;
// Figures
// Breadcrumbs
$breadcrumb-padding-vertical:   8px;
$breadcrumb-padding-horizontal: 15px;
$breadcrumb-bg:                 #f49ac0;
$breadcrumb-color:              #ffffff;
$breadcrumb-active-color:       darken(#ffffff, 10%);
$breadcrumb-separator:          "/";

// Carousel

// Close
$close-font-weight:           bold;
$close-color:                 #000000;
$close-text-shadow:           0 1px 0 #ffffff;

// Code
$code-color:                  #c7254e;
$code-bg:                     #f9f2f4;

$kbd-color:                   #ffffff;
$kbd-bg:                      #333333;

$pre-bg:                      #f5f5f5;
$pre-color:                   #c1d7ee;
$pre-border-color:            #cccccc;
$pre-scrollable-max-height:   340px;

// Wells (deprecated)
$well-bg:                     #ffd1e7;
$well-border:                 darken($well-bg, 7%);

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
