{* $Id$ *}
<br>
<div class="row">
	<div class="form-group col-lg-12 clearfix">
		<div class="text-center">
			<input type="submit" class="btn btn-primary tips timeout" title=":{tr}Apply changes{/tr}" value="{tr}Apply{/tr}">
		</div>
	</div>
</div>
