$body-bg: #ffffff;
@text-color: #222222;
$font-family-sans-serif: Segoe UI, Helvetica, Arial, sans-serif;
@brand-primary: #e69700;
@brand-success: lighten(#5cb85c, 25%);
@brand-info: lighten(#5bc0de, 25%);
@brand-warning: lighten(#f0ad4e, 15%);
@brand-danger: #d9534f;
@link-color: @brand-primary;
@link-hover-color: darken(@link-color, 15%);
@link-hover-decoration: underline;
@btn-default-color: #ffffff;
@btn-default-bg: #2293f7;
@btn-default-border: #2293f7;
@btn-primary-color: #333333;
@btn-primary-bg: @brand-primary;
@btn-primary-border: @brand-primary;
@btn-success-color: @brand-success;
@btn-success-border: @brand-success;
@btn-info-color: @brand-info;
@btn-info-border: @brand-info;
@btn-warning-color: @brand-warning;
@btn-warning-border: @brand-warning;
@btn-danger-color: @brand-danger;
@btn-danger-border: @brand-danger;
//@btn-link-disabled-color: @gray-light;




@navbar-default-bg: @brand-primary;
@navbar-default-border: @brand-primary;
@navbar-default-color: #ffffff;
@navbar-default-link-color: #ffffff;
@navbar-default-link-hover-color: darken(@navbar-default-link-color,10%);
@navbar-default-link-hover-bg: transparent;
@dropdown-link-color: @text-color;
$border-radius: 6px;
@border-radius-large: 8px;
@border-radius-small: 4px;
@panel-info-heading-bg: @brand-info;
@panel-success-heading-bg: @brand-success;
@panel-warning-heading-bg: @brand-warning;
@panel-danger-heading-bg: @brand-danger;
@panel-danger-title-color: #ffffff;
