/* Nineties theme option for the Snow theme for Tiki Wiki CMS Groupware.  */
.container {
  background: #b1c1db url("../../../images/flakesptn.jpg") !important;
  border: 1px solid #6c7b8c;
  webkit-box-shadow: none !important;
  box-shadow: none !important; }

body.fullscreen {
  background: #b1c1db url("../../../images/flakesptn.jpg") !important; }
  body.fullscreen .container {
    background: none !important;
    border: none; }

.card {
  background: url("../../../images/flakesptn2.jpg"); }

#col2 .card-header, #col3 .card-header {
  background: url("../../../images/boxtop.jpg") no-repeat transparent;
  background-size: 100%;
  border-bottom: medium none currentColor; }
  #col2 .card-header h3.card-title, #col3 .card-header h3.card-title {
    padding-top: 1rem; }

#col2 .card-header + .card-body {
  padding-top: 0; }

#col2 .card-footer, #col3 .card-footer {
  background: url("../../../images/boxbtm.jpg") no-repeat transparent 0 100%;
  background-size: 100%;
  border-top: none; }

#col2 .card, #col3 .card {
  background: url("../../../images/boxmid.jpg") repeat-y transparent;
  background-size: 100%; }
  #col2 .card-footer, #col3 .card-footer {
    display: block; }

.card-body .cssmenu_vert {
  margin-left: -35px; }

.navbar-fixed-top, .layout_fixed_top_modules .navbar-fixed-top, .layout_fixed_top_modules .navbar-fixed-top .container, .layout_social .navbar-fixed-top, .layout_social .navbar-fixed-top .container, .navbar-dark, .topbar, .topbar .cssmenu_horiz > ul, .topbar .navbar-nav > li, .topbar .nav > li, .bg-dark {
  background: #d7e5f3 url("../../../images/pagetitle-bg.jpg") repeat-x !important;
  background-size: 400px 100% !important;
  margin-bottom: 0;
  border: none; }

.tiki.layout_social .navbar.navbar-dark .container {
  background: transparent;
  background-image: none; }

.topbar .nav > li > a:hover, .topbar .nav > li > a:focus, .topbar .cssmenu_horiz > li > a:hover, .topbar .cssmenu_horiz > li:hover, .topbar .cssmenu_horiz li.sfHover:hover, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background: #d7e5f3 url("../../../images/pagetitle-bg.jpg") repeat-x;
  color: #555; }

.dropdown-menu > li > form {
  background: url("../../../images/flakesptn2.jpg"); }

.dropdown-menu > li > a {
  background: url("../../../images/flakesptn2.jpg"); }
  .dropdown-menu > li > a:hover {
    background: url("../../../images/flakesptn3.jpg"); }

.nav > li > a:hover {
  background: url("../../../images/flakesptn3.jpg"); }
